/*------------------------------------*\
  #FONTS -- START
\*------------------------------------*/

@font-face {
  font-family: "Fira Code";
  src: url("./fonts/FiraCode-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Fira Code";
  src: url("./fonts/FiraCode-Bold.ttf") format("truetype");
  font-weight: 700;
}
/*------------------------------------*\
  #FONTS -- END
\*------------------------------------*/

/*------------------------------------*\
  #GLOBAL -- START
\*------------------------------------*/

body {
  @apply font-inter break-words bg-white text-dark-color-2 dark:bg-dark-color-2 dark:text-white;
}

main {
  @apply bg-react-logo bg-no-repeat bg-right;
}

h1 {
  @apply font-bold lg:text-5xl md:text-4xl text-3xl;
}

h2 {
  @apply font-bold md:text-2xl text-xl text-[#2B283A] dark:text-white;
}

h3 {
  @apply font-bold text-base;
}

p {
  @apply lg:text-2xl md:text-xl text-lg;
}
/*------------------------------------*\
  #GLOBAL -- END
\*------------------------------------*/

/*------------------------------------*\
  #FOR MEDIA QUERIES TAILWINDCSS -- START
\*------------------------------------*/
/*@layer utilities {
}*/

/*------------------------------------*\
  #FOR MEDIA QUERIES TAILWINDCSS -- END
\*------------------------------------*/

/*------------------------------------*\
  #BACKGROUND IMAGES -- START
\*------------------------------------*/

/*------------------------------------*\
  #BACKGROUND IMAGES -- END
\*------------------------------------*/

/*------------------------------------*\
  #UNORDERED LIST -- START
\*------------------------------------*/

.ul-disc {
  @apply text-base sm:pl-5 py-5 space-y-3;

  > li {
    @apply relative pl-5;
    &:before {
      @apply content-[''] absolute left-0 top-2 bg-react-blue w-[9.61px] h-[9.61px] rounded-full;
    }
  }
}
/*------------------------------------*\
  #UNORDERED LIST -- END
\*------------------------------------*/
